// Ignore the config file that may contain sensitive information
config.js

// Ignore the node_modules directory
node_modules/

// Ignore the .vscode directory that may contain user-specific settings
.vscode/

// Ignore log files
logs/
*.log

// Ignore config.js file in the frontend directory
frontend/config.js

// Ignore the __pycache__ directory and compiled Python files in the backend directory
backend/__pycache__/
backend/*.pyc